{% extends "base.html" %}

{% block content %}
<div class="head_content">
    <img src="../static/img/mars.png" alt="mars">
    <h1>Авторизация</h1>
</div>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="form-floating mb-3">
        {{ form.astronaut_id(class="form-control", placeholder="id") }}
        {{ form.astronaut_id.label }}
        {% for error in form.astronaut_id.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-floating mb-3">
        {{ form.astronaut_password(class="form-control", type="password", placeholder="id") }}
        {{ form.astronaut_password.label }}
        {% for error in form.astronaut_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-floating mb-3">
        {{ form.capitan_id(class="form-control", placeholder="id") }}
        {{ form.capitan_id.label }}
        {% for error in form.capitan_id.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="form-floating mb-3">
        {{ form.capitan_password(class="form-control", type="password", placeholder="id") }}
        {{ form.capitan_password.label }}
        {% for error in form.capitan_password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}